body{
  margin:0;
  font-family: system-ui, -apple-system, Roboto, "Segoe UI", sans-serif;
  background: linear-gradient(#9dd3ff, #bfe9ff);
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:8px;
}
.info{
  margin-top:8px;
  color:#222;
}
canvas{
  border:8px solid #2e2b2b;
  background: linear-gradient(#aee6ff, #cff3ff);
  display:block;
}
