body {
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background: #8fd1ff;
    border: 3px solid black;
}
